/* CreateEvent specific styles */
/* All common styles have been moved to components.css */

.create-event form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin-top: 1.5rem;
}

.create-event button {
    margin-top: 1rem;
    width: 100%;
    max-width: 300px;
    align-self: center;
}
