/* CreateEvent specific styles */
/* All common styles have been moved to components.css */

.create-event form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin-top: 1.5rem;
    justify-content: center;
}

.create-event form input[type="text"]{
    width: 100%;
    padding: 0.75rem;
    background: var(--background-light);
    border: 1px solid var(--background-dark);
    border-radius: var(--border-radius-sm);
    color: white;
    font-size: 1rem;
}

.create-event button {
    margin-top: 1rem;
    width: 100%;
    max-width: 300px;
    align-self: center;
}

.event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    color: var(--text-color);
}

.event-info ::placeholder, .event-info * {
    color: var(--text-color);
}

.event-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.event-actions button {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
    border-radius: var(--border-radius);
    background: white;
    color: black;
    cursor: pointer;
    transition: var(--transition);
}