:root {
    --background-dark: #4B2840;
    --border-radius: 0.5rem;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --text-color: #ffffff;
}

.admin {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.users {
    display: flex;
    justify-content: center;
    width: 90vw;
}

.event-list {
    width: 400px;
    background-color: var(--background-dark);
    margin: 1rem;
}

ul {
    padding: 1rem;
    margin: 1rem;
    list-style: none;
    width: 400px;
}

li {
    background-color: #1c5242;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.create-event {
    padding: 10px;
    margin: 1rem;
    border-radius: var(--border-radius);
    background: var(--background-dark);
    font-size: 0.9rem;
    outline: none;
    width: 400px;
    height: 500px;
}

.qr-code {
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: var(--background-dark);
    margin: 1rem;
    padding: 1rem;
}

.admin-container {
    width: 100%;
    margin: 0 auto;
}

.admin-container h1 {
    margin: 0 auto;
    color: var(--text-color);
    text-align: center;
    background-color: #4B2840;
    width: 100%;
}   

.admin-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.admin-section {
    background: var(--background-dark);
    padding: 1rem;
    border-radius: var(--border-radius);
    height: 500px;
}

.admin-section h2 {
    color: var(--text-color);
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.news-section {
    background: var(--background-dark);
    padding: 1rem;
    border-radius: var(--border-radius);
    width: 400px;
}

@media (max-width: 768px) {
    .admin-content {
        grid-template-columns: 1fr;
    }
    
    .admin-section {
        min-width: unset;
    }
}