
.homepage{
    background-color: rgb(60, 70, 80, 0.4);
    width: 90vw;
    border-radius: 10px;
    padding: 5px;
    user-select: none;
}

.cards, .newscard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card, .newscard{
    display: flex;
    width: 300px;
    height: 150px;
    margin: 0.5rem;
    padding: 1rem;
    background-color: #CEB888;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card a{
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: x-large;
    width: max-content;
    height: max-content;
    color: black;

}

.card img{
    height: 50px;
    width: 50px;
    padding: 10px;
}

.card:hover{
    transform: scale(1.01);
    transition: transform 0.3s;
    background-color: #C28E0E;
    box-shadow: 0px 0px 10px white;

}

.news-section{
    width: 90vw;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(60, 70, 80, 0.4);
}

.newscard{
    background-color: rgb(83, 72, 58);
}


@media (max-width: 600px) {
    .card, .newscard{
        width: 40vw;
        height: 9rem;
    }
}