
.homepage{
    margin-top: 1rem;
    background-color: rgb(60, 70, 80, 0.4);
    width: 90vw;
    border-radius: 10px;
    padding: 5px;
    user-select: none;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards a{
    display: flex;
    width: 300px;
    height: 150px;
    margin: 0.5rem;
    padding: 1rem;
    background-color: #CEB888;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a{
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: x-large;
    width: max-content;
    height: max-content;

}

.cards a{
    color: black;
}

.card img{
    height: 50px;
    width: 50px;
    padding: 10px;
}

.cards a:hover{
    transform: scale(1.01);
    transition: transform 0.3s;
    background-color: #C28E0E;
    box-shadow: 0px 0px 10px white;

}

.news-section{
    background-color: #4b4023;
    width: 90vw;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.newscard{
    display: flex;
    margin: 1rem;
    width: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
}

.newscard:hover{
    transform: scale(1.01);
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px white;
}

.newscard img{
    border-radius: 10px;
    width: 300px;
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 4px;
}

.create-event{
    padding: 10px;
}

textarea{
    width: 100%;
}

@media (max-width: 600px) {
    .card{
        width: 40vw;
        height: 9rem;
    }
}