
.homepage{
    background-color: rgb(60, 70, 80, 0.4);
    width: 90vw;
    border-radius: 10px;
    padding: 5px;
    user-select: none;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    width: 300px;
    height: 150px;
    margin: 0.5rem;
    padding: 1rem;
    background-color: #CEB888;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card a{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: x-large;
    width: max-content;
    height: max-content;
    color: black;

}

.card img{
    height: 50px;
    width: 50px;
    padding: 10px;
}

.card:hover{
    transform: scale(1.01);
    transition: transform 0.3s;
    background-color: #C28E0E;
    box-shadow: 0px 0px 10px white;

}

@media (max-width: 600px) {
    .card{
        width: 10rem;
        height: 9rem;
    }
}