* {
  box-sizing: border-box;
}

body{
  /* background: url("../assets/bg_landing.jpg") no-repeat; */
  background-color: #FFDAB9;
  overflow-x: hidden;
}


/* General Styles */
.landing {
  text-align: center;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* Hero Section */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-background {
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background: #465C69;
  color: white;
  text-align: center;
  max-width: 50vw;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.hero p {
  font-size: 1.4rem;
  margin-bottom: 1.875rem;
}

/* CTA Button */
.cta-button {
  background-color: #ff7b00;
  color: white;
  padding: 0.9375rem 1.875rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.3125rem;
  transition: 0.3s;
}

.cta-button:hover {
  background-color: #e66a00;
}

/* Features Section */
.features {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  flex-wrap: wrap;
}

.feature {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.625rem;
  max-width: 12.75rem;
  max-height: 14rem;
  text-align: center;
  transition: 0.3s;
  padding: 1rem;
}

.feature:hover {
  transform: scale(1.05);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.feature h2 {
  font-size: 1.5rem;
  margin-bottom: 0.9375rem;
}

.feature p {
  font-size: 1rem;
}

/* Call-to-Action Section */
.cta-section {
  margin: 1.125rem;
  background: #465C69;
  padding: 3.125rem;
  border-radius: 10px;

}

.cta-section h2 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

@media (max-width: 1200px) {
  .hero-content{
    display: none;
  }

}
