/* Add to your existing Login.css file */

.reset-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.reset-success p {
  margin-bottom: 1rem;
  color: #4CAF50;
}

.cancel-button {
  background-color: #333;
  color: white;
  margin-top: 1rem;
}

.cancel-button:hover {
  background-color: #555;
}

.forgot-password {
  align-self: center;
  color: #4745f0;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}



body{
  height: 100%;

}

p a{
  color: #2b28d3;
}

p a:hover{
  text-decoration: underline;
}