/* Add to your existing Login.css file */

.login-container {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background: #465C69;
    color: white;
    text-align: center;
    max-width: 30rem;
    width: max-content;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.reset-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.reset-success p {
  margin-bottom: 1rem;
  color: #4CAF50;
}

.cancel-button {
  background-color: #333;
  color: white;
  margin-top: 1rem;
}

.cancel-button:hover {
  background-color: #555;
}

.forgot-password {
  align-self: center;
  color: #ffffff;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}



body{
  height: 100%;

}

p a{
  color: #add2f7;
}

p a:hover{
  text-decoration: underline;
}