.notifications-container {
  margin-top: 1rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  max-width: 40rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  width: 100%;
}

.notifications-container h1 {
  margin-bottom: 1.5rem;
}

.notifications-container ul {
  list-style: none;
  padding: 0;
}

.notifications-container li {
  padding: 1rem;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
}

.notifications-container li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.hover-card {
  transition: all 0.3s;
}