
.scanner{
    margin-top: 1rem;

}

#status{
    margin: 1rem auto;
    background-color: #cf7a26;
    padding: 1rem;
    width: 30vw;
    border-radius: 15px;

}

video{
    width: 40vw;
    /* height: 70vh; */
    border-radius: 15px;
}