.search{
    margin-top: 1rem;
    width: 90vw;
    height: 50vw;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}



#search-btn{
    background-color: none;
    width: 50%;
    text-align: center;
    height: 5rem;
    border: none;
    border-bottom: 2px solid white;
  }