.search{
    margin-top: 1rem;
    width: 90vw;
    height: 20vw;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}



#search-btn{
    width: 50%;
    text-align: center;
    height: 5rem;
    border: none;
    border-bottom: 2px solid white;
    caret-color: black;
    color: black;
    font-size: large;
  }