*{
  user-select: none;
}


/* Root container */
#root {
  margin: 0 auto;
  text-align: center;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: blur(3px);
}

.logo {
  height: 7em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Animation for rotating logo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Card container */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* General page styling */
body {
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.logo {
  width: 2.25rem;
  height: auto;
  margin: 0.5em;
}

/* Footer */
.footer {
  background: #000;
  padding: 1.25rem;
  width: 100vw;
  text-align: center;
  margin-top: auto;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  z-index: 999;
  font-family: "Indie Flower", cursive;
  font-weight: 200;
  font-style: normal;
}

.heading a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heading img{
  width: 2rem;
  height: 2rem;
  margin: 0.5em;
}

a{
  text-decoration: none;
  color: white;

}

.sidebar{
  position: absolute;
  left: 0;
  z-index: 9999;
}


.navigation{
  top: 0;
  padding: 0;
}

.navigation ul{
  margin: 0;
  padding-top: 6rem;
  padding-left: 0;
  list-style: none;
  width: 20vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.navigation ul li{
  padding: 15px;
  margin: 5px;
  border-radius: 3px;
}

.navigation ul li:hover{
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.menu{
  position: fixed;
  left: 0;
  z-index: 9999;
  padding: 2rem;
}

input {
  width: 100%;
  padding: 0.7rem;
  margin: 0.3rem 0;
  border: none;
  border-radius: 0.3rem;
  /* background: #222; */
  color: white;
  font-size: 0.9rem;
  outline: none;
}

input[type="date"] {
  color: rgba(0, 0, 0, 0.7);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

textarea {
  width: 40%;
  padding: 0.7rem;
  margin: 0.3rem 0;
  border: none;
  border-radius: 0.3rem;
  /* background: #222; */
  color: white;
  font-size: 0.9rem;
  outline: none;
}