.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #000;
    color: white;
    text-align: center;
    max-width: 300px; /* Increase width */
    width: 90%;
      
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
  }
  
  button {
    width: 85%;
    padding: 10px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .google-login,
  .facebook-login {
    background-color: #333;
    color: white;
  }
  